// Färger till texter, bakgrunder och styles, font-familjer

$topBottom-nav-color: rgb(5, 145, 206);
$underline-style: rgb(216, 105, 160); 
$products-nav-color: rgb(69, 66, 66);
$button-color: rgb(117, 236, 197);
//$main-font: 'Dosis', sans-serif;
$main-font: 'Montserrat', sans-serif;


// Mixins 

@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin buttonStyle{
  background: $button-color;
  border-radius: 15px;
  border: none;
  padding: 5px 8px;
  &:hover {
    background: rgb(10, 221, 151);
  }
}

@mixin topBottom-nav-style {
  color: $topBottom-nav-color;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $underline-style;
    text-decoration-thickness: 3px;
  }
}

@mixin li-style {
  text-decoration: none;
  list-style-type: none;
}

@mixin review-zone{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #C8EEEC;
  margin: 0px 10px;
  h2, h3, p{
    width: 100%;
    margin-bottom: 10px;
  }
  h3,p{
    text-align: start;
  }
}

 
