// Färger till texter, bakgrunder och styles, font-familjer

$underline-style: rgb(216, 105, 160); 
$products-nav-color: rgb(69, 66, 66);
$buyButton-color: rgb(117, 236, 197);
// $main-font: 'Montserrat', sans-serif;
$main-font: 'Dosis', 'sans-serif';
$background-gray: rgb(240, 238, 238);


// Mixins 

@mixin headingStyle {
  font-size: 2rem;
  // .line {
  //   width: 140px;
  //   height: 4px;
  //   background: #03d7fcdc;
  //   margin: 10px auto;
  //   border-radius: 5px;
  // }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin readMore-style {
  background: #03d7fcdc;
  border: none;
  &:hover {
    color: white;
    background:  #07b0eedc;
  }
}

@mixin buyButtonStyle{
  background: $buyButton-color;
  border-radius: 15px;
  border: none;
  padding: 5px 8px;
  color: black;
  &:hover {
    background: rgb(10, 221, 151);
    color: white;
  }
}

@mixin topBottom-nav-style {
  font-weight: 700;
  color: black;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $underline-style;
    text-decoration-thickness: 3px;
  }
}

@mixin li-style {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

//Kevs styling
@mixin review-zone{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: $background-gray;
  margin: 50px auto;
  padding: 20px;
  width: 1000px;
  border-radius: 15px;
  box-shadow: rgb(158, 158, 158) 5px 5px 5px;
  h2, h3, p{
    width: 100%;
    margin-bottom: 10px;
  }
  h3,p{
    text-align: start;
  }
  h3{
    font-style: italic;
    text-decoration: underline;
  }
  p{
    font-style: oblique;
  }
}

// Kevs styling
@mixin flex-stat-100{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

@mixin recension-style{
  p{
    font-size: 1.2rem;
    word-spacing: 5px;
    white-space:pre-line;

  }

  .qualities{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin:10px 0px 40px 0px;
    p{
      margin-right:30px;
      font-weight: bold;
      padding:5px;
    }
    .pos::before{
      color: #396;
      content: "+";
      margin-right: 10px;
    }

    .neg::before{
      color: #f33;
      content: "‒";
      margin-right: 10px;
    }
  }
}


