@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Indie+Flower&family=Mulish:wght@200&family=Raleway:wght@200&family=Rampart+One&display=swap%22");
.christmas-banner{
      text-align: center;
  
      
}
.red-text{
      color:red;
      text-decoration: none;

}

.Hannas-shop {
  font-family: "Dosis", sans-serif;
}

.fa_custom {
  color: black;
  margin: 30px;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.line {
  width: 140px;
  height: 4px;
  background: #03d7fcdc;
  margin: 10px auto;
  border-radius: 5px;
}

.Nyhet {
  font-size: 15px;
  text-align: left;
  margin-right: 100px;
  color: red;
  text-transform: uppercase;
}

.nyhet1 {
  font-size: 15px;
  text-align: left;
  margin-right: 100px;
  color: white;
  text-transform: uppercase;
}

.produkt {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  margin-right: 100px;
}

.shop-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.shop {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 40%;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 60px;
}

.shop-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;

  border-radius: 3%;
  margin-top: 20px;
  padding: 40px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.shop:nth-child(1) .shop-img {
  background-image: url(shopBilder/Iphone13pro.jpg);
}

.shop:nth-child(2) .shop-img {
  background-image: url(shopBilder/iphone13.jpg);
}
.shop:nth-child(3) .shop-img {
  background-image: url(shopBilder/iphone12.jpg);
}
.shop:nth-child(4) .shop-img {
  background-image: url(shopBilder/samsungflip.jpg);
}
.shop:nth-child(5) .shop-img {
  background-image: url(shopBilder/samsungfold.jpg);
}
.shop:nth-child(6) .shop-img {
  background-image: url(shopBilder/Samsungnote.jpg);
}

.shop:nth-child(7) .shop-img {
  background-image: url(shopBilder/Ipadmini.jpg);
}
.shop:nth-child(8) .shop-img {
  background-image: url(shopBilder/Ipadpro.jpg);
}

.shop:nth-child(9) .shop-img {
  background-image: url(shopBilder/samsungTab.jpg);
}
.shop:nth-child(10) .shop-img {
  background-image: url(shopBilder/MacbookPro.jpg);
}

.shop:nth-child(11) .shop-img {
  background-image: url(shopBilder/macbookAir.jpg);
}
.shop:nth-child(12) .shop-img {
  background-image: url(shopBilder/MacbookPro.jpg);
}

.shop:nth-child(13) .shop-img {
  background-image: url(shopBilder/imac.png);
}
.shop:nth-child(14) .shop-img {
  background-image: url(shopBilder/iMac27tum.jpg);
}
.shop:nth-child(15) .shop-img {
  background-image: url(shopBilder/ImacPRO.jpg);
}

.header-text {
  font-size: 25px;
  line-height: 10px;
  text-transform: uppercase;
}

.shop-img-text {
  margin: 30px;
  line-height: 10px;
}

.shop-img-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

/* PRIS */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 15px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7dc855;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
  .shop-area {
    flex-direction: row;
  }

  .shop {
    width: 50%;

    margin-bottom: 10px;
  }
}

@media screen and (min-width: 760px) {
      body .header {
            height: 170px;
     }
      body .header .fa-shopping-cart {
            color: black;
            margin-left: 200px;
            margin-top: 5px;
            font-size: 20px;
     }
      body .header img {
            margin-left: 50px;
     }
      body .header .top-nav i {
            display: none;
     }
      body .header .top-nav .nav-bar {
            display: flex;
            justify-content: space-around;
     }
      body .header .top-nav .nav-bar .active, body .header .top-nav .nav-bar .nav-links:hover {
            color: #09abe6;
     }
      body .header .top-nav .nav-bar a {
            margin-right: 40px;
            font-size: 1.4rem;
            white-space: nowrap;
     }
      body .footer {
            justify-content: space-around;
     }
      body .footer .bottom-bar {
            display: flex;
            width: 100%;
            flex-direction: row;
     }
}
