.omoss .mainOmoss {
  height: 100%;
}

.omoss .mainOmoss section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.omoss .mainOmoss section .linje {
  width: 70%;
  height: 1px;
  background: black;
  margin-bottom: 10px;
}

.omoss .mainOmoss section p {
  margin-top: 15px;
}

.omoss .mainOmoss section .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
}

.omoss .mainOmoss section .image .anst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.omoss .mainOmoss section .image .anst * {
  margin-top: 4px;
}

.omoss .mainOmoss section .image img {
  max-width: 60%;
  margin-top: 10px;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100px;
}

body header .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .top-nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  visibility: hidden;
}

body header .top-nav .nav-bar li {
  margin-right: 5px;
  font-size: 15px;
}

body header a {
  width: 25%;
}

body header a img {
  margin-left: 10px;
  width: 90%;
  height: 70%;
}

body header .fa-bars {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  font-size: 30px;
  cursor: pointer;
  display: block;
}

body .products-nav {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid grey 1px;
}

body .products-nav .products {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

body .products-nav .products a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .products-nav .products a i {
  margin-bottom: 10px;
}

body .products-nav a {
  color: black;
  text-decoration: none;
}

body .main {
  height: 600px;
}

body .footer {
  border-top: solid grey 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 150px;
  padding-top: 15px;
}

body .footer .bottom-bar li {
  list-style-type: none;
  margin: 15px;
}

body .footer .bottom-bar li a {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

body .footer .footertider i {
  margin: 10px;
  margin-bottom: 20px;
  color: black;
}

@media screen and (min-width: 760px) {
  body .header img {
    margin-left: 50px;
  }
  body .header .top-nav i {
    display: none;
  }
  body .header .top-nav .nav-bar {
    visibility: visible;
  }
  body .header .top-nav .nav-bar a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    margin-right: 40px;
    font-size: 1.12rem;
  }
  body .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .footer .bottom-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */