
@import "partials/variabler";
@import "omoss";

* {
margin: 0;
box-sizing: border-box;
padding: 0;
}

// Startsida - style / Sezen
// Preliminär struktur. Ska organiseras bättre

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font;

  .page-title {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .product-name {
    font-size: 1.2rem;
  }

  ul {
    text-align: center;
    padding: 10px;
    line-height: 1.6;
  }

  .link-container {
    display: flex;

    button {
      @include buttonStyle;
    }

    a {
      margin-left: 10px;
    }

  }
  
} 

// Första bilden på startsidan
.macbook {
  margin: 0 auto;
  padding: 15px;
}

///////////////////////////
// Gemensam styling för alla sidor ( header + footer )
body {

  // Samlad styling där mixins används
  li, a {
    @include li-style;
  }
  
  .top-nav, .bottom-nav {
    a {
      @include topBottom-nav-style;
    }
  }

header,
.top-nav,
.products a {
  @include flexCenter;
}

// Header style
  header {
    justify-content: space-between;
    width: 100%;
    min-height: 100px;  

    .top-nav {
      justify-content: flex-end;

      .nav-bar {
        display: flex;
        justify-content: space-around;
        visibility: hidden;

        li {
          margin-right: 5px;
          font-size: 15px;
          
        }
      }
    }

    a {
      width: 25%;

      img {
        margin-left: 10px;
        width:90%;
        height: 70%;
      }

    }

    .fa-bars {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 40px;
      font-size: 30px;
      cursor: pointer;
      display: block;
    }
  }

  .products-nav{
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: solid grey 1px;
  margin-bottom: 20px;
  
    .products{
      width: 80%;
      display: flex;
      justify-content: space-around;
      font-family: $main-font; 

      a {
      flex-direction: column;

      i {
        margin-bottom: 10px;
      }
      }
    }

    a {
      color: black;
    }
  }
// Tillfällig height
  .main {
    height: 600px;
  }
// Footer style
  .footer {
    border-top: solid grey 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 150px;
    padding-top: 15px;

    .bottom-bar {

    li {
      margin: 15px;
    }
  }
    
    .footertider {

      i {
        margin:10px;
        margin-bottom: 20px;
        color: black;
      }
    }
  }
}

// Media queries
@media screen and (min-width: 760px){
  
  body {

    .header {

      img {
        margin-left: 50px;
      }

      .top-nav {

        i {
          display: none;
        }

        .nav-bar {
          visibility: visible;

          a {
            margin-right: 40px;
            font-size: 1.12rem;
          }
        }
      }
    }

    .footer {
      justify-content: space-around;

      .bottom-bar {
        display: flex;
        width: 100%;
        flex-direction: row;
      }
    }
  }
}
