@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Indie+Flower&family=Mulish:wght@200&family=Raleway:wght@200&family=Rampart+One&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.line {
  width: 140px;
  height: 4px;
  background: #03d7fcdc;
  margin: 10px auto;
  border-radius: 5px;
}

.ham-meny {
  width: 100%;
  height: 200px;
  display: none;
}

.ham-meny nav .meny-del {
  width: 100%;
  height: 40px;
  border-bottom: solid black 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ham-meny nav .meny-del a {
  color: black;
  padding: 5px;
}

.main-startpage {
  font-family: "Dosis", "sans-serif";
}

.main-startpage p, .main-startpage ul {
  line-height: 1.6;
}

.main-startpage .christmas-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.main-startpage .christmas-banner .banner {
  padding: 20px;
}

.main-startpage .christmas-banner .banner p {
  font-size: 1.35rem;
}

.main-startpage h1 {
  background: -webkit-gradient(linear, left top, right top, from(#03d7fcdc), to(#e84393));
  background: linear-gradient(to right, #03d7fcdc, #e84393);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-startpage .news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-startpage ul {
  text-align: center;
  max-width: 250px;
  padding: 10px;
}

.main-startpage .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}

.main-startpage .link-container .buy-button {
  background: #75ecc5;
  border-radius: 15px;
  border: none;
  padding: 5px 8px;
  color: black;
}

.main-startpage .link-container .buy-button:hover {
  background: #0add97;
  color: white;
}

.main-startpage .link-container .read-button {
  margin-left: 10px;
  padding: 5px 8px;
  border-radius: 15px;
  background: #03d7fcdc;
  border: none;
  background: #03d7fcdc;
}

.main-startpage .link-container .read-button:hover {
  color: white;
  background: #07b0eedc;
}

.main-startpage .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-startpage .news .product-name {
  font-size: 1.2rem;
  margin: 10px;
}

.main-startpage .news .iMac {
  width: 90%;
}

.main-startpage .more-news {
  text-align: center;
}

.main-startpage .more-news .line {
  width: 160px;
}

.main-startpage .more-news .more-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 60px;
}

.main-startpage .more-news .more-news-container img {
  width: 160px;
}

.main-startpage .more-news .more-news-container .galaxy-pro {
  -webkit-transform: rotate(280deg);
          transform: rotate(280deg);
  margin-bottom: 13px;
}

.main-startpage .student-section {
  position: relative;
}

.main-startpage .student-section .student-img {
  width: 100%;
  margin-bottom: 50px;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.main-startpage .student-section p {
  position: absolute;
  top: 35%;
  left: 2%;
  color: white;
  font-size: 1.45rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 3px;
  border-radius: 15px;
}

.main-startpage .student-section p a {
  color: #03d7fcdc;
}

.main-startpage .student-section p a:hover {
  text-decoration: underline;
}

.main-startpage .student-section .stuk-logo {
  position: absolute;
  width: 110px;
  top: 5%;
  left: 5%;
}

@media screen and (min-width: 760px) {
  .main-startpage .banner a {
    font-size: 2rem;
  }
  .main-startpage .news .product-name {
    font-size: 2rem;
  }
  .main-startpage .news .news-container .product-name {
    margin-bottom: 50px;
  }
  .main-startpage .news .news-container .iMac {
    width: 90%;
  }
  .main-startpage .news .news-container .macbook {
    width: 55%;
  }
  .main-startpage .news h1 {
    margin-top: 40px;
  }
  .main-startpage .news .macbook {
    width: 55%;
  }
  .main-startpage h1 {
    font-size: 5rem;
    margin-top: 40px;
  }
  .main-startpage .line {
    width: 250px;
    margin-bottom: 80px;
    height: 6px;
  }
  .student-section .student-img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 500px;
    -o-object-position: 20% 40%;
       object-position: 20% 40%;
  }
  .student-section .text-box .stuk-logo {
    width: 200px;
  }
  .student-section .text-box p {
    font-size: 2.5rem;
    left: 27%;
    top: 20%;
    padding: 100px;
  }
}

body {
  font-family: "Dosis", "sans-serif";
}

body h1 {
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#03d7fcdc), to(#e84393));
  background: linear-gradient(to right, #03d7fcdc, #e84393);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

body .para {
  font-size: 1.3rem;
}

body .red-text {
  color: #b60606;
}

body .red-text:hover {
  color: black;
}

body .red-text span:hover {
  margin-left: 5px;
}

body li,
body a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

body .top-nav a,
body .bottom-nav a {
  font-weight: 700;
  color: black;
}

body .top-nav a:hover,
body .bottom-nav a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #d869a0;
          text-decoration-color: #d869a0;
  text-decoration-thickness: 3px;
}

body header,
body .top-nav,
body .products a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 100px;
}

body header .fa-shopping-cart {
  color: black;
  margin-left: 100px;
  margin-bottom: 10px;
  font-size: 20px;
}

body header .top-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

body header .top-nav .nav-bar {
  display: none;
}

body header a {
  width: 25%;
}

body header a img {
  margin-left: 10px;
  width: 90%;
  height: 70%;
}

body header .fa-bars {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  display: block;
  color: black;
}

body .products-nav {
  width: 100%;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f0eeee;
}

body .products-nav .products {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Dosis", "sans-serif";
}

body .products-nav .products a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .products-nav .products a:hover {
  color: #d869a0;
  font-size: 20px;
}

body .products-nav .products a i {
  margin: 15px;
}

body .products-nav a {
  color: black;
}

body .main.referenser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  display: flex;
  text-align: center;
}

body .main.referenser .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main.referenser .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

body .main.referenser .reviews .line {
  width: 350px;
}

body .main.referenser .reviews .review-nav {
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0px;
}

body .main.referenser .reviews .review-nav nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Dosis", "sans-serif";
}

body .main.referenser .reviews .review-nav nav a,
body .main.referenser .reviews .review-nav nav p {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 1.5rem;
}

body .main.referenser .reviews .review-nav nav a:hover {
  color: #d869a0;
}

body .main.referenser .reviews .review-wrap {
  background-color: white;
  border-radius: 15px;
  font-family: "Dosis", "sans-serif";
}

body .main.referenser .reviews .review-wrap > h2 {
  font-style: oblique;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: #424242 5px 5px 5px;
          box-shadow: #424242 5px 5px 5px;
}

body .main.referenser .reviews .review-wrap h2 {
  margin: 15px;
}

body .main.referenser .reviews .review-wrap .customer .private-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f0eeee;
  margin: 50px auto;
  padding: 20px;
  width: 1000px;
  border-radius: 15px;
  -webkit-box-shadow: #9e9e9e 5px 5px 5px;
          box-shadow: #9e9e9e 5px 5px 5px;
}

body .main.referenser .reviews .review-wrap .customer .private-rev h2, body .main.referenser .reviews .review-wrap .customer .private-rev h3, body .main.referenser .reviews .review-wrap .customer .private-rev p {
  width: 100%;
  margin-bottom: 10px;
}

body .main.referenser .reviews .review-wrap .customer .private-rev h3, body .main.referenser .reviews .review-wrap .customer .private-rev p {
  text-align: start;
}

body .main.referenser .reviews .review-wrap .customer .private-rev h3 {
  font-style: italic;
  text-decoration: underline;
}

body .main.referenser .reviews .review-wrap .customer .private-rev p {
  font-style: oblique;
}

body .main.referenser .reviews .review-wrap .customer .private-rev .stars {
  color: #d869a0;
}

body .main.referenser .reviews .review-wrap .customer .private-rev:focus {
  -webkit-box-shadow: #424242 5px 5px 5px;
          box-shadow: #424242 5px 5px 5px;
}

body .main.referenser .reviews .review-wrap .customer .private-rev p {
  font-size: 1.2rem;
  word-spacing: 5px;
  white-space: pre-line;
}

body .main.referenser .reviews .review-wrap .customer .private-rev .qualities {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px 0px 40px 0px;
}

body .main.referenser .reviews .review-wrap .customer .private-rev .qualities p {
  margin-right: 30px;
  font-weight: bold;
  padding: 5px;
}

body .main.referenser .reviews .review-wrap .customer .private-rev .qualities .pos::before {
  color: #396;
  content: "+";
  margin-right: 10px;
}

body .main.referenser .reviews .review-wrap .customer .private-rev .qualities .neg::before {
  color: #f33;
  content: "‒";
  margin-right: 10px;
}

body .main.referenser .reviews .review-wrap .company .company-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f0eeee;
  margin: 50px auto;
  padding: 20px;
  width: 1000px;
  border-radius: 15px;
  -webkit-box-shadow: #9e9e9e 5px 5px 5px;
          box-shadow: #9e9e9e 5px 5px 5px;
}

body .main.referenser .reviews .review-wrap .company .company-rev h2, body .main.referenser .reviews .review-wrap .company .company-rev h3, body .main.referenser .reviews .review-wrap .company .company-rev p {
  width: 100%;
  margin-bottom: 10px;
}

body .main.referenser .reviews .review-wrap .company .company-rev h3, body .main.referenser .reviews .review-wrap .company .company-rev p {
  text-align: start;
}

body .main.referenser .reviews .review-wrap .company .company-rev h3 {
  font-style: italic;
  text-decoration: underline;
}

body .main.referenser .reviews .review-wrap .company .company-rev p {
  font-style: oblique;
}

body .main.referenser .reviews .review-wrap .company .company-rev .stars {
  color: #d869a0;
}

body .main.referenser .reviews .review-wrap .company .company-rev:focus {
  -webkit-box-shadow: #424242 5px 5px 5px;
          box-shadow: #424242 5px 5px 5px;
}

body .main.referenser .reviews .review-wrap .company .company-rev p {
  font-size: 1.2rem;
  word-spacing: 5px;
  white-space: pre-line;
}

body .main.referenser .reviews .review-wrap .company .company-rev .qualities {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px 0px 40px 0px;
}

body .main.referenser .reviews .review-wrap .company .company-rev .qualities p {
  margin-right: 30px;
  font-weight: bold;
  padding: 5px;
}

body .main.referenser .reviews .review-wrap .company .company-rev .qualities .pos::before {
  color: #396;
  content: "+";
  margin-right: 10px;
}

body .main.referenser .reviews .review-wrap .company .company-rev .qualities .neg::before {
  color: #f33;
  content: "‒";
  margin-right: 10px;
}

body .main.referenser .reviews .review-wrap .write-review {
  padding: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  margin-left: 100px;
}

body .main.referenser .reviews .review-wrap .write-review > label {
  display: block;
  width: 100%;
  text-align: start;
  font-family: "Dosis", "sans-serif";
  font-style: italic;
  font-weight: bold;
  margin-bottom: 15px;
}

body .main.referenser .reviews .review-wrap .write-review .selections {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
}

body .main.referenser .reviews .review-wrap .write-review .selections select {
  margin-right: 10px;
  height: 30px;
}

body .main.referenser .reviews .review-wrap .write-review textarea {
  margin-top: 10px;
  font-family: "Dosis", "sans-serif";
}

body .main.referenser .reviews .review-wrap .write-review .btn-wrap {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main.referenser .reviews .review-wrap .write-review .btn-wrap .submit-btn {
  background: #03d7fcdc;
  border: none;
  padding: 8px 15px;
  margin-top: 10px;
  background: #03d7fcdc;
  border-radius: 50px;
}

body .main.referenser .reviews .review-wrap .write-review .btn-wrap .submit-btn:hover {
  color: white;
  background: #07b0eedc;
}

body .main.referenser .reviews .review-wrap .write-review .btn-wrap .submit-btn:hover {
  color: white;
  background: #07b0eedc;
}

body .main.referenser .reviews .review-wrap .write-review .btn-wrap .submit-btn:active {
  -webkit-box-shadow: #12fa45 5px 5px 5px;
          box-shadow: #12fa45 5px 5px 5px;
}

body .main.referenser .reviews .review-wrap .write-review .rate {
  display: inline-block;
  height: 46px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  top: 0px;
}

body .main.referenser .reviews .review-wrap .write-review .rate label {
  margin: 3px;
}

body .main.referenser .reviews .review-wrap .write-review .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

body .main.referenser .reviews .review-wrap .write-review .rate:not(:checked) > label {
  float: right;
  width: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

body .main.referenser .reviews .review-wrap .write-review .rate:not(:checked) > label:before {
  content: "★";
}

body .main.referenser .reviews .review-wrap .write-review .rate > input:checked ~ label {
  color: #d869a0;
}

body .main.referenser .reviews .review-wrap .write-review .rate:not(:checked) > label:hover,
body .main.referenser .reviews .review-wrap .write-review .rate:not(:checked) > label:hover ~ label {
  color: #d869a0;
}

body .main.referenser .reviews .review-wrap .write-review .rate > input:checked + label:hover,
body .main.referenser .reviews .review-wrap .write-review .rate > input:checked + label:hover ~ label,
body .main.referenser .reviews .review-wrap .write-review .rate > input:checked ~ label:hover,
body .main.referenser .reviews .review-wrap .write-review .rate > input:checked ~ label:hover ~ label,
body .main.referenser .reviews .review-wrap .write-review .rate > label:hover ~ input:checked ~ label {
  color: #d869a0;
}

body .fa-youtube {
  color: red;
}

body .fa-facebook {
  color: #1877f2;
}

.footer {
  border-top: solid grey 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  min-height: 150px;
  padding: 20px;
}

.footer .bottom-bar li {
  margin: 15px;
}

.footer .footertider {
  text-align: center;
}

.footer .footertider i {
  margin: 10px;
  margin-bottom: 20px;
  color: black;
}

@media screen and (min-width: 760px) {
  body .header {
    height: 170px;
  }
  body .header .fa-shopping-cart {
    color: black;
    margin-left: 200px;
    margin-top: 5px;
    font-size: 20px;
  }
  body .header img {
    margin-left: 50px;
  }
  body .header .top-nav i {
    display: none;
  }
  body .header .top-nav .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .header .top-nav .nav-bar .active, body .header .top-nav .nav-bar .nav-links:hover {
    color: #09abe6;
  }
  body .header .top-nav .nav-bar a {
    margin-right: 40px;
    font-size: 1.4rem;
    white-space: nowrap;
  }
  body .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .footer .bottom-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.kontaktmain,
.omossmedarbetare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: auto;
  display: flex;
}

.kontaktmain h1,
.omossmedarbetare h1 {
  text-align: center;
  margin-top: 30px;
}

.kontaktmain .maindiv1,
.omossmedarbetare .maindiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 1100px;
}

.kontaktmain .maindiv1 .medarbetar-area,
.omossmedarbetare .maindiv1 .medarbetar-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 45%;
  height: auto;
}

.kontaktmain .maindiv1 .medarbetar-area .medarbetare,
.omossmedarbetare .maindiv1 .medarbetar-area .medarbetare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 4px;
  background-color: #f0eeee;
  -webkit-box-shadow: 2px 2px #acafb3;
          box-shadow: 2px 2px #acafb3;
}

.kontaktmain .maindiv1 .medarbetar-area .medarbetare .bilddiv,
.omossmedarbetare .maindiv1 .medarbetar-area .medarbetare .bilddiv {
  background-color: black;
  width: 125px;
  height: 175px;
  border: solid #acafb3 1px;
  border-radius: 2px;
}

.kontaktmain .maindiv1 .medarbetar-area .medarbetare .bilddiv img,
.omossmedarbetare .maindiv1 .medarbetar-area .medarbetare .bilddiv img {
  height: 100%;
  width: 100%;
}

.kontaktmain .maindiv2,
.omossmedarbetare .maindiv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding: 30px 0;
  background-color: #f0eeee;
}

.kontaktmain .maindiv2 h2,
.omossmedarbetare .maindiv2 h2 {
  margin-bottom: 15px;
}

.kontaktmain .maindiv2 .kontaktaoss,
.omossmedarbetare .maindiv2 .kontaktaoss {
  height: 175px;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kontaktmain .maindiv2 .meddelande,
.omossmedarbetare .maindiv2 .meddelande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.kontaktmain .maindiv2 .meddelande .undertitel,
.omossmedarbetare .maindiv2 .meddelande .undertitel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-bottom: 10px;
}

.kontaktmain .maindiv2 .meddelande select,
.kontaktmain .maindiv2 .meddelande input,
.kontaktmain .maindiv2 .meddelande textarea,
.omossmedarbetare .maindiv2 .meddelande select,
.omossmedarbetare .maindiv2 .meddelande input,
.omossmedarbetare .maindiv2 .meddelande textarea {
  width: 95%;
  border: solid #cecaca 1px;
  margin: 5px 0px 5px 0px;
  padding: 5px;
}

.kontaktmain .maindiv2 .meddelande label,
.omossmedarbetare .maindiv2 .meddelande label {
  margin-top: 5px;
}

.kontaktmain .maindiv2 .meddelande label#labelmeddelande,
.omossmedarbetare .maindiv2 .meddelande label#labelmeddelande {
  margin-top: 20px;
}

.kontaktmain .maindiv2 .meddelande .button,
.omossmedarbetare .maindiv2 .meddelande .button {
  background: #03d7fcdc;
  border: none;
  margin: 10px 11px 0px 0px;
  padding: 8px 15px;
  margin-top: 10px;
  background: #03d7fcdc;
  border-radius: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.kontaktmain .maindiv2 .meddelande .button:hover,
.omossmedarbetare .maindiv2 .meddelande .button:hover {
  color: white;
  background: #07b0eedc;
}

.kontaktmain .maindiv2 .meddelande .button:hover,
.omossmedarbetare .maindiv2 .meddelande .button:hover {
  color: white;
  background: #07b0eedc;
}

.kontaktmain .maindiv2 .meddelande #meddelande,
.omossmedarbetare .maindiv2 .meddelande #meddelande {
  height: 100px;
}

.kontaktmain .bildhus,
.omossmedarbetare .bildhus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  width: 175px;
  margin: 50px 0px;
}

.kontaktmain .bildhus img,
.omossmedarbetare .bildhus img {
  margin: 20px 0px 0px 10px;
  width: 100%;
  height: 100%;
  margin: 50px 0px;
}

.mainomoss .omosshistoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
}

.mainomoss .omosshistoria .line {
  width: 200px;
}

.mainomoss .omosshistoria .historiatext {
  width: 100%;
  margin-top: 20px;
}

.mainomoss .omossmedarbetare h2 {
  text-align: center;
}

.mainomoss .omossmedarbetare .maindiv1 .medarbetar-area .medarbetare {
  position: relative;
}

.mainomoss .omossmedarbetare .maindiv1 .medarbetar-area .medarbetare .beskrivning {
  display: none;
}

.mainomoss .omossmedarbetare .maindiv1 .medarbetar-area .medarbetare:hover {
  background-color: #2c2b2b;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.mainomoss .omossmedarbetare .maindiv1 .medarbetar-area .medarbetare:hover .bilddiv {
  visibility: hidden;
}

.mainomoss .omossmedarbetare .maindiv1 .medarbetar-area .medarbetare:hover .line {
  visibility: hidden;
}

.mainomoss .omossmedarbetare .maindiv1 .medarbetar-area .medarbetare:hover p {
  visibility: hidden;
}

.mainomoss .omossmedarbetare .maindiv1 .medarbetar-area .medarbetare:hover .beskrivning {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainomoss .omossmedarbetare .maindiv1 .medarbetar-area .medarbetare:hover .beskrivning .text {
  color: white;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .kontaktmain,
  .omossmedarbetare {
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .kontaktmain .maindiv1,
  .omossmedarbetare .maindiv1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .kontaktmain .maindiv1 .medarbetar-area,
  .omossmedarbetare .maindiv1 .medarbetar-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .kontaktmain .maindiv1 .medarbetar-area .medarbetare,
  .omossmedarbetare .maindiv1 .medarbetar-area .medarbetare {
    width: 200px;
    height: 325px;
    padding-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
  }
  .kontaktmain .maindiv2,
  .omossmedarbetare .maindiv2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .kontaktmain .maindiv2 .kontaktaoss,
  .omossmedarbetare .maindiv2 .kontaktaoss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 475px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kontaktmain .maindiv2 .kontaktaoss .button,
  .omossmedarbetare .maindiv2 .kontaktaoss .button {
    margin: 10px 37px 0px 0px;
  }
  .kontaktmain .maindiv2 .kontaktaoss input,
  .kontaktmain .maindiv2 .kontaktaoss select,
  .omossmedarbetare .maindiv2 .kontaktaoss input,
  .omossmedarbetare .maindiv2 .kontaktaoss select {
    height: 25px;
  }
  .kontaktmain .maindiv2 .kontaktaoss .bildhus,
  .omossmedarbetare .maindiv2 .kontaktaoss .bildhus {
    width: 50%;
    height: 237px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0px 20px 0px;
  }
  .kontaktmain .maindiv2 .kontaktaoss img,
  .omossmedarbetare .maindiv2 .kontaktaoss img {
    width: 100%;
    height: 237px;
  }
  .mainomoss .omosshistoria .historiatext {
    width: 60%;
  }
}

.hanna {
  background-color: whitesmoke;
}

.hanna button {
  background: #03d7fcdc;
  border: none;
  padding: 8px 15px;
  margin-top: 40px;
  background: #03d7fcdc;
  border-radius: 50px;
}

.hanna button:hover {
  color: white;
  background: #07b0eedc;
}

.hanna button:hover {
  color: white;
  background: #07b0eedc;
}

.produktsida {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.produktsida-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bigBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: auto;
  margin: 70px 100px 70px 150px;
}

.bigBox-text h1 {
  font-size: 4rem;
  background: -webkit-gradient(linear, left top, right top, from(#03d7fcdc), to(#e84393));
  background: linear-gradient(to right, #03d7fcdc, #e84393);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bigBox-text p {
  margin-top: 15px;
  font-size: 22px;
  color: #585772;
}

.läs-mer {
  border: 2px solid #03d7fcdc;
  background: transparent;
  color: #03d7fcdc;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.köp {
  background: #03d7fcdc;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  margin: 30px 0px 0px 30px;
}

.cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
}

.cover img {
  height: 100%;
  -webkit-filter: drop-shadow(0px 5px 3px black);
          filter: drop-shadow(0px 5px 3px black);
  -webkit-animation: drop 1.5s ease;
          animation: drop 1.5s ease;
}

.box-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: auto;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 10px;
}

.box:nth-child(1) .img {
  background-image: url(Bilder/iphone.jpg);
}

.box:nth-child(2) .img {
  background-image: url(Bilder/data.jpg);
}

.box:nth-child(3) .img {
  background-image: url(Bilder/ipad.jpg);
}

.box:nth-child(4) .img {
  background-image: url(Bilder/laptop.jpg);
}

.box:hover {
  background: #e84393;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border: 6px solid lightgrey;
  border-radius: 50%;
  margin-top: 20px;
  padding: 40px;
  background-size: cover;
  background-position: center center;
}

.header-text {
  font-size: 25px;
  line-height: 10px;
  text-transform: uppercase;
}

.img-text {
  margin: 20px;
  line-height: 10px;
}

.img-text p {
  font-weight: 400;
  line-height: 30px;
}

@media only screen and (max-width: 768px) {
  .box-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box {
    width: 100%;
    margin-bottom: 10px;
  }
  .bigBox {
    margin: 30px;
  }
}
/*# sourceMappingURL=style.css.map */